<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donde</title>
</head>
<body>
<div class="main-container">
    <div class="main-header">
        <h1>Donde</h1>
        <h2>where to?</h2>
        <div class="data-collection">
            <input id="search-box">
            <input type="submit" id="go" value="go" onclick="return Client.passCoordinates(event)" onsubmit="return Client.passCoordinates(event)">
        </div>

    </div>

<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTDtmLJEn9VIVt_Vo9Jzz_VEX-eKxknC4&libraries=places&callback=Client.activateAutoCompelete">
</script>
</div>
</body>
</html>