<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donde</title>
</head>
<body>
<div class="main-container">
    <div class="main-header">
        <h1>Donde</h1>
        <h2>where to?</h2>
        <div class="data-collection">
            <input type="Where would we like to go?">
            <input type="submit" id="go" value="go" onclick="return Client.textDisplay(event)" onsubmit="return Client.textDisplay(event)">
        </div>

    </div>


</div>
</body>
</html>