<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donde</title>
</head>
<body>
<div class="main-container">
    <div class="main-header">
        <h1>Donde</h1>
        <h2>where to?</h2>
        <div class="data-collection">
            <input id="search-box">
            <input type="submit" id="go" value="go" onclick="return Client.callAllApis(event)">
        </div>
    </div>
    </div id="date-picker">
        <label for="departure">Departure:</label>
        <input type="date" id="departure" name="trip-start" oninput="return Client.getDatesfromInput(event)">
        <label for="return">Return:</label>
        <input type="date" id="return" name="trip-start" oninput="return Client.getDatesfromInput(event)">
    </div>

            <div class="carousel">
                <button class="carousel__button carousel__button--left">
                    <img src='../media/left.png' alt="left" >
                </button>
                <div class="carousel__track-container">
                    <ul class="carousel__track">
                        <li class="carousel__slide current-slide">
                            <img class="carousel__image" src="https://pixabay.com/get/geb25263411eb3db2f749738fc6b722e8cfbd64c6baec5ca85328c3d9ed10f371528f28becc14fafb9cf722e03200e0a1ab7f711206374ef1cfa7d47ec60dda31_640.jpg" alt="">
                        </li>
                        <li class="carousel__slide">
                            <img class="carousel__image" src="https://pixabay.com/get/g58747079f6e9f3506d87836963faf7e7895b15956f3063a8febeef4952bbd379268ed56bcdadbb7e97e2a6660aae0cdac25ae444cf1965b47be0adec7708cbc1_640.jpg" alt="">
                        </li>
                        <li class="carousel__slide">
                            <img class="carousel__image" src="https://pixabay.com/get/gdb9091ddfe94517fc18a232f3fa8b039c846d2bbbc2f3ec2c7319be6512beb8cebca47c2fb8c70d4e3c5e7282ee1ed597710c35090940c92278149922ee66641_640.jpg" alt="">
                        </li>
                    </ul>
                </div>
                <button class="carousel__button carousel__button--right">
                    <img src='../media/right.png' alt="right" >
                </button>
                <div class="carousel__nav">
                    <button class="carousel__indicator current-slide"></button>
                    <button class="carousel__indicator"></button>
                    <button class="carousel__indicator"></button>
                </div>
            </div>
         <div class="images" id="image-holder">
        </div>
</div>
<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTDtmLJEn9VIVt_Vo9Jzz_VEX-eKxknC4&libraries=places&callback=Client.activateAutoComplete">
</script>

</div>
</body>
</html>