


@media (max-width: 900px) 
{
    .main-container {
        display: flex;
        flex-direction: column;
      }

    .carousel {
        max-width: 750px;
    
    }

    .search-box{
        width: 580px;
    }


    .body-container {
        margin: 0 auto;
        padding: 15px;
      }
}


@media (max-width: 600px) 
{
    .carousel {
        max-width: 450px;
    
    }

    .search-box{
        width: 450px;
    }

    .image-info {
        flex-direction: column;
        height: 50px;
        width:450px;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .author {
        padding: 0;
    }

    
    .body-container {
        padding: 5px;
      }

      .main-container {
        align-items: center;
      }

    .left-container .right-container{
        width: 98%;
    }
}