
h2 {
    color: blue;
}

.trip-info-window {
  width: 250px;
  height: 20px;
  margin: 10px 10px 0 10px;
}

.trip-info {
  display: flex;
  flex-direction: row;
}

.search-box{
  width: 460px;
  border-radius: 5%;
  margin-bottom: 10px;
  height: 25px;
  border: 1px red solid;
  color: blue;
}

.main-container {
  display: flex;
  flex-direction: row;
} 

.label-and-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left-container {
  display: flex;
  flex-direction: column;
  width: 600px;
  align-items: center;
}

.right-container {
  display: flex;
  flex-direction: column;
}

input[type="date"]:before {
    content: attr(placeholder) !important;
    color: red;
    margin-right: 0.5em;
  }
  input[type="date"]:focus:before,
  input[type="date"]:valid:before {
    content: "";
  }

