@import "./variables";

body {
  background-color: $themeColor4;
}

h1 {
    color: $themeColor2;
}
h2, h4 {
    color: $themeColor3;
}

.trip-info-window {
  width: 250px;
  height: 20px;
  margin: 10px 10px 0 10px;
}

.trip-info {
  display: flex;
  flex-direction: row;
}

.search-box{
  width: 460px;
  border-radius: 5%;
  margin-bottom: 10px;
  height: 25px;
  border-radius: 24px !important;
  border: 1px solid transparent !important;
  font-family: inherit !important;
  font-size: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
  margin: -1px !important;
  outline: none !important;
  overflow: visible !important;
  padding: 0px !important;
  text-align: inherit !important;
  text-decoration: none !important;

}

.main-container {
  display: flex;
  flex-direction: row;
} 

.label-and-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 25px;
}

.left-container {
  display: flex;
  flex-direction: column;
  width: 600px;
  align-items: center;
}

.right-container {
  display: flex;
  flex-direction: column;
}

.top-display {
  display: flex;
  flex-direction: row;
}

input[type="date"]:before {
    content: attr(placeholder) !important;
    color: red;
    margin-right: 0.5em;
  }
  input[type="date"]:focus:before,
  input[type="date"]:valid:before {
    content: "";
  }

.dates {
  display: flex;
  flex-direction: column;
}